div {
    border: 3px solid blue;
}

h2 {
    text-decoration: underline;
}

input {
    width : 50%;
    border: 3px solid orange;
}

p button {
    font-size: 22px;
}

li {
    cursor: pointer;
}

li:hover {
    opacity: 0.5;
}