/Ejemplos/WebAPI/Uyflix/.vs/Uyflix/DesignTimeBuild/.dtbcache.v2
/Ejemplos/WebAPI/Uyflix/.vs/Uyflix/config/applicationhost.config
/Ejemplos/WebAPI/Uyflix/.vs/Uyflix/v16/.suo
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/project.assets.json
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/project.assets.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/project.assets.json
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/project.assets.json
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/project.assets.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/Properties/launchSettings.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/appsettings.Development.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/appsettings.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/apphost.exe
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/bin/Debug/netcoreapp3.1/Uyflix.Business.deps.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/bin/Debug/netcoreapp3.1/Uyflix.Business.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/bin/Debug/netcoreapp3.1/Uyflix.Business.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/bin/Debug/netcoreapp3.1/Uyflix.Domain.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/bin/Debug/netcoreapp3.1/Uyflix.Domain.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/bin/Debug/netcoreapp3.1/Uyflix.IBusiness.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/bin/Debug/netcoreapp3.1/Uyflix.IBusiness.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/bin/Debug/netcoreapp3.1/Uyflix.IDataAccess.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/bin/Debug/netcoreapp3.1/Uyflix.IDataAccess.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Debug/netcoreapp3.1/Uyflix.Business.AssemblyInfo.cs
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Debug/netcoreapp3.1/Uyflix.Business.AssemblyInfoInputs.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Debug/netcoreapp3.1/Uyflix.Business.GeneratedMSBuildEditorConfig.editorconfig
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Debug/netcoreapp3.1/Uyflix.Business.assets.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Debug/netcoreapp3.1/Uyflix.Business.csproj.AssemblyReference.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Debug/netcoreapp3.1/Uyflix.Business.csproj.CopyComplete
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Debug/netcoreapp3.1/Uyflix.Business.csproj.CoreCompileInputs.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Debug/netcoreapp3.1/Uyflix.Business.csproj.FileListAbsolute.txt
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Debug/netcoreapp3.1/Uyflix.Business.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Debug/netcoreapp3.1/Uyflix.Business.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Uyflix.Business.csproj.nuget.dgspec.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Uyflix.Business.csproj.nuget.g.props
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/Uyflix.Business.csproj.nuget.g.targets
/Ejemplos/WebAPI/Uyflix/Uyflix.Business/obj/project.nuget.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/bin/Debug/netcoreapp3.1/Uyflix.DataAccess.deps.json
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/bin/Debug/netcoreapp3.1/Uyflix.DataAccess.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/bin/Debug/netcoreapp3.1/Uyflix.DataAccess.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/bin/Debug/netcoreapp3.1/Uyflix.Domain.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/bin/Debug/netcoreapp3.1/Uyflix.Domain.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/bin/Debug/netcoreapp3.1/Uyflix.IDataAccess.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/bin/Debug/netcoreapp3.1/Uyflix.IDataAccess.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Debug/netcoreapp3.1/Uyflix.DataAccess.AssemblyInfo.cs
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Debug/netcoreapp3.1/Uyflix.DataAccess.AssemblyInfoInputs.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Debug/netcoreapp3.1/Uyflix.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Debug/netcoreapp3.1/Uyflix.DataAccess.assets.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Debug/netcoreapp3.1/Uyflix.DataAccess.csproj.AssemblyReference.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Debug/netcoreapp3.1/Uyflix.DataAccess.csproj.CopyComplete
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Debug/netcoreapp3.1/Uyflix.DataAccess.csproj.CoreCompileInputs.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Debug/netcoreapp3.1/Uyflix.DataAccess.csproj.FileListAbsolute.txt
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Debug/netcoreapp3.1/Uyflix.DataAccess.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Debug/netcoreapp3.1/Uyflix.DataAccess.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Uyflix.DataAccess.csproj.nuget.dgspec.json
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Uyflix.DataAccess.csproj.nuget.g.props
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/Uyflix.DataAccess.csproj.nuget.g.targets
/Ejemplos/WebAPI/Uyflix/Uyflix.DataAccess/obj/project.nuget.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/bin/Debug/netcoreapp3.1/Uyflix.Domain.deps.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/bin/Debug/netcoreapp3.1/Uyflix.Domain.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/bin/Debug/netcoreapp3.1/Uyflix.Domain.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Debug/netcoreapp3.1/Uyflix.Domain.AssemblyInfo.cs
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Debug/netcoreapp3.1/Uyflix.Domain.AssemblyInfoInputs.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Debug/netcoreapp3.1/Uyflix.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Debug/netcoreapp3.1/Uyflix.Domain.assets.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Debug/netcoreapp3.1/Uyflix.Domain.csproj.AssemblyReference.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Debug/netcoreapp3.1/Uyflix.Domain.csproj.CoreCompileInputs.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Debug/netcoreapp3.1/Uyflix.Domain.csproj.FileListAbsolute.txt
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Debug/netcoreapp3.1/Uyflix.Domain.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Debug/netcoreapp3.1/Uyflix.Domain.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Uyflix.Domain.csproj.nuget.dgspec.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Uyflix.Domain.csproj.nuget.g.props
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/Uyflix.Domain.csproj.nuget.g.targets
/Ejemplos/WebAPI/Uyflix/Uyflix.Domain/obj/project.nuget.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/bin/Debug/netcoreapp3.1/Uyflix.Domain.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/bin/Debug/netcoreapp3.1/Uyflix.Domain.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/bin/Debug/netcoreapp3.1/Uyflix.IBusiness.deps.json
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/bin/Debug/netcoreapp3.1/Uyflix.IBusiness.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/bin/Debug/netcoreapp3.1/Uyflix.IBusiness.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Debug/netcoreapp3.1/Uyflix.IBusiness.AssemblyInfo.cs
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Debug/netcoreapp3.1/Uyflix.IBusiness.AssemblyInfoInputs.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Debug/netcoreapp3.1/Uyflix.IBusiness.GeneratedMSBuildEditorConfig.editorconfig
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Debug/netcoreapp3.1/Uyflix.IBusiness.assets.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Debug/netcoreapp3.1/Uyflix.IBusiness.csproj.AssemblyReference.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Debug/netcoreapp3.1/Uyflix.IBusiness.csproj.CopyComplete
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Debug/netcoreapp3.1/Uyflix.IBusiness.csproj.CoreCompileInputs.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Debug/netcoreapp3.1/Uyflix.IBusiness.csproj.FileListAbsolute.txt
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Debug/netcoreapp3.1/Uyflix.IBusiness.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Debug/netcoreapp3.1/Uyflix.IBusiness.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Uyflix.IBusiness.csproj.nuget.dgspec.json
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Uyflix.IBusiness.csproj.nuget.g.props
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/Uyflix.IBusiness.csproj.nuget.g.targets
/Ejemplos/WebAPI/Uyflix/Uyflix.IBusiness/obj/project.nuget.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/bin/Debug/netcoreapp3.1/Uyflix.Domain.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/bin/Debug/netcoreapp3.1/Uyflix.Domain.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/bin/Debug/netcoreapp3.1/Uyflix.IDataAccess.deps.json
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/bin/Debug/netcoreapp3.1/Uyflix.IDataAccess.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/bin/Debug/netcoreapp3.1/Uyflix.IDataAccess.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Debug/netcoreapp3.1/Uyflix.IDataAccess.AssemblyInfo.cs
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Debug/netcoreapp3.1/Uyflix.IDataAccess.AssemblyInfoInputs.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Debug/netcoreapp3.1/Uyflix.IDataAccess.GeneratedMSBuildEditorConfig.editorconfig
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Debug/netcoreapp3.1/Uyflix.IDataAccess.assets.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Debug/netcoreapp3.1/Uyflix.IDataAccess.csproj.AssemblyReference.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Debug/netcoreapp3.1/Uyflix.IDataAccess.csproj.CopyComplete
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Debug/netcoreapp3.1/Uyflix.IDataAccess.csproj.CoreCompileInputs.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Debug/netcoreapp3.1/Uyflix.IDataAccess.csproj.FileListAbsolute.txt
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Debug/netcoreapp3.1/Uyflix.IDataAccess.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Debug/netcoreapp3.1/Uyflix.IDataAccess.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Uyflix.IDataAccess.csproj.nuget.dgspec.json
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Uyflix.IDataAccess.csproj.nuget.g.props
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/Uyflix.IDataAccess.csproj.nuget.g.targets
/Ejemplos/WebAPI/Uyflix/Uyflix.IDataAccess/obj/project.nuget.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.Business.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.Business.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.DataAccess.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.DataAccess.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.Domain.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.Domain.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.IBusiness.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.IBusiness.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.IDataAccess.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.IDataAccess.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.Webapi.deps.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.Webapi.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.Webapi.exe
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.Webapi.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.Webapi.runtimeconfig.dev.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/bin/Debug/netcoreapp3.1/Uyflix.Webapi.runtimeconfig.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.AssemblyInfo.cs
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.AssemblyInfoInputs.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.GeneratedMSBuildEditorConfig.editorconfig
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.MvcApplicationPartsAssemblyInfo.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.RazorTargetAssemblyInfo.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.assets.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.csproj.AssemblyReference.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.csproj.CopyComplete
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.csproj.CoreCompileInputs.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.csproj.FileListAbsolute.txt
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.dll
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.genruntimeconfig.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/Uyflix.Webapi.pdb
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Debug/netcoreapp3.1/staticwebassets/Uyflix.Webapi.StaticWebAssets.Manifest.cache
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Uyflix.Webapi.csproj.nuget.dgspec.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Uyflix.Webapi.csproj.nuget.g.props
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/Uyflix.Webapi.csproj.nuget.g.targets
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/project.assets.json
/Ejemplos/WebAPI/Uyflix/Uyflix.Webapi/obj/project.nuget.cache
